<div id="supervise-map-modal-container"></div>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-body" style="height: 88vh;">
          <div id="location-chart-map" style="width: 100%; height: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="get-map-json-hide" style="display: none"></div>

