<div class="col-md-12 nested-fields" id="<%= f.object.sortable_id rescue nil %>">
  <div class="row">

    <div class="col-md-1 d-flex justify-content-center align-items-center">
      <i class="fas fa-arrows-alt sortable-handle"></i>
    </div>

    <div class="col-md-8">
      <div class="row">
        <%= tag.div (manage_time_field f, :start_time), class: 'col-md-4' %>
        <%= tag.div (manage_time_field f, :end_time), class: 'col-md-4' %>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-end align-items-center">
      <%= link_to_remove_association '删除', f, class: 'btn btn-danger' %>
    </div>

  </div>
  <hr>
</div>