<div class="modal fade" id="change-evidence-time-modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content data-problem-last-id-content" style="background-color: #262a3c">
      <div class="modal-header">
        <h4 class="modal-title text-white" id="exampleModalLabel">修改问题图片时间</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white">
        <div class="col-md-12">
          <div class="form-group">
            <label for="____">开始时间</label><input type="text" id="change-evidence-time-data" class="form-control datetimepicker ">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary change-evidence-time-modal-submit">提交</button>
      </div>

    </div>
  </div>
</div>






