<div class="navbar-minimize-fixed">
  <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
    <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
  </button>
</div>
<div class="sidebar" data="blue">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        督察
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        <%= current_admin_user.source.full_name %>
      </a>
    </div>
    <ul class="nav">
      <%= manage_render_sidebar(@routes) %>
    </ul>
  </div>
</div>