.controller_dashboard.action_index {
  .system-overview-table-loading {
    width: 10vh;
    height: 10vh;
    background-image: url('/admin/images/admin_logo.png');
    background-size: 100% 100%;
    animation: rote 10s linear infinite;
  }

  @keyframes rote {
    0%{transform: rotateX(0deg) rotateY(0deg);
    }
    25%{transform: rotateX(10deg) rotateY(180deg);
    }
    50%{transform: rotateX(0deg) rotateY(360deg);
    }
    75%{transform: rotateX(-10deg) rotateY(180deg);
    }
    100%{transform: rotateX(0deg) rotateY(0deg);
    }
  }

}