.sidebar {
  p {
    font-size: 14px;
  }
}

.table {
  table-layout: fixed;
}

.layout-report-text-container,.layout-report-text-container-date {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #01f2c2;
  font-size: 16px;
  padding: 20px;
  width: 100%;
}