.controller_locations {
  .location-upload-map-btn,.location-upload-map-btn2 {
    background-color: rgba(89, 144, 69, 0);
    border: 0.5px solid #2b3553;
    border-radius: 0.4285rem;
    min-height: calc(2.25rem + 2px);
    line-height: calc(2.25rem + 2px);
    user-select:none;
    cursor: pointer;
    padding-left: 8px !important;
    font-size: 14px;
    color: #dfdfdf;
  }

}