.controller_notifications.action_edit {
  .dropzone {
    min-height: 120px;
    border: 0.5px solid #2b3553;
    border-radius: 0.4285rem;
    background: #262a3c;
    color: #eceaea;
    margin-bottom: 20px;
  }

  .dropzone:hover {
    border: 0.5px solid #e14eca;
  }

  .nested-fields {

  }

}


