.controller_problems.action_edit {
  .dropzone {
    min-height: 120px;
    border: 0.5px solid #2b3553;
    border-radius: 0.4285rem;
    background: #262a3c;
    color: #eceaea;
    margin-bottom: 20px;
  }

  .dropzone:hover {
    border: 0.5px solid #e14eca;
  }

  .nested-fields {

  }

}

.controller_problems.action_report {

  .report-type-selection {

    input {
      display: none;
    }

    label {
      border-radius: 5px;
      border: 1px solid #00bf9a;
      padding: 10px 0;
      color: white;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    label:hover {
      cursor: pointer;
    }

    input:checked + label {
      background: #00bf9a;
      //background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
    }
  }

}
