.controller_dashboard.action_index {

  a {
    text-decoration: none
  }

  .dashboard-container {
    background-color: #18232e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .map-container {
    height: 100vh;
  }

  .top-container {
    position: absolute;
    top: 0;
    height: 6vw;
    width: 100vw;
    background: url("/checkpoint/images/top_bg.png");
    background-size: 100% 100%;
  }

  .top-title1 {
    color: #79e5ef;
    font-size: 2vw;
    font-weight: 450;
    width: 100vw;
    height: 4vw;
    line-height: 4vw;
    text-align: center;
  }

  .top-title2 {
    position: relative;
    top: -0.9vw;
    color: #ffffff;
    font-size: 1.1vw;
    width: 100vw;
    height: 2vw;
    line-height: 2vw;
    text-align: center;
  }

  .left-container {
    position: absolute;
    top: 3vh;
    left: 3vh;
    height: 94vh;
    width: 38vh;
    background-color: #29334b;
    box-shadow: 0px 0px 20px 5px #030303;
    border-radius: 15px;
    overflow: hidden;
  }

  .right-container {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 94vh;
    width: 38vh;
    background-color: #29334b;
    box-shadow: 0px 0px 20px 5px #030303;
    border-radius: 15px;
    overflow: hidden;
  }

  .middle-container {
    position: absolute;
    bottom: 3vh;
    left: 45vh;
    right: 45vh;
    height: calc(((100vw - 96vh)/3)*0.5625 + 4vh);
    background-color: #29334b;
    box-shadow: 0px 0px 20px 5px #030303;
    border-radius: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .middle-container::-webkit-scrollbar {
    display: none;
  }

  .middle-container-body {
    height: calc(((100vw - 96vh)/3)*0.5625 + 4vh);
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .middle-container-body::-webkit-scrollbar {
    display: none;
  }

  .sidebar-title {
    height: 7vh;
    line-height: 7vh;
    font-size: 2vh;
    color: #b7b5b5;
    text-align: center;
    border-bottom: 2px solid #353f50;
  }

  .sidebar-card {
    width: 36vh;
    margin: 1vh;
    background-color: #1a2436;
    padding: 1vh;
    border-radius: 5px;
  }

  .card-img {
    width: 5vh;
    height: 5vh;
    float: left;
    margin-left: 2vh;
  }

  .card-info {
    padding-left: 3vh;
  }

  .card-info-number {
    height: 5vh;
    line-height: 5vh;
    color: #dbdbdb;
    font-size: 3vh;
    margin: 0;
    padding: 0;
  }

  .card-info-text {
    margin: 0;
    padding: 0;
    color: #b7b5b5;
    height: 3vh;
    line-height: 3vh;
    font-size: 1.8vh;
  }

  .card-camera-img {
    height: 3vh;
    width: 3vh;
  }

  .square-yellow {
    height: 1.1vh;
    width: 1.1vh;
    background-color: #fab532;
    display: inline-block;

  }

  .square-blue {
    height: 1.1vh;
    width: 1.1vh;
    background-color: #3097e2;
    display: inline-block;
  }

  .square-purple {
    height: 1.1vh;
    width: 1.1vh;
    background-color: #8265ff;
    display: inline-block;
  }

  .square-green {
    height: 1.1vh;
    width: 1.1vh;
    background-color: #37ffaa;
    display: inline-block;
  }

  .square-cyan {
    height: 1.1vh;
    width: 1.1vh;
    background-color: #57eeff;
    display: inline-block;
  }

  .square-cover0 {
    position: absolute;
    top: 4.5vh;
    left: calc(4.5vh - 24px);
    overflow: hidden;
    white-space: nowrap;
    height: 1vh;
  }

  .square-cover {
    position: absolute;
    top: 4.5vh;
    left: calc(4.5vh - 24px);
    overflow: hidden;
    white-space: nowrap;
    height: 1vh;
  }

  .alert-card-body {
    overflow: hidden;
    overflow-y: auto;
    height: 41vh;
  }

  .alert-card-body::-webkit-scrollbar {
    display: none;
  }

  .alert-card {
    background-color: #29334b;
    height: 13vh;
    border-radius: 5px;
    margin-bottom: 1vh;
    padding: 0.5vh 1vh;
  }

  .alert-card-title {
    height: 2vh;
  }

  .alert-card-title-more {
    height: 4vh;
    line-height: 3vh;
    font-size: 1.5vh;
    color: #e5e5e5;
  }

  .alert-card-title1 {
    font-size: 1.5vh;
    color: #e5e5e5;
  }

  .card-alert-img {
    height: 4vh;
    width: 4vh;
    margin-left: -1vh;
  }

  .alert-card-title2 {
    background-color: #3f444f;
    font-size: 1.7vh;
    height: 2vh;
    line-height: 2vh;
    color: #e5e5e5;
    padding: 0 1vh;
  }

  .alert-info-container {
    height: 8vh;

    .alert-info-img {
      height:7.5vh;
      border-radius: 5px;
      display: inline-block;
    }

    .alert-info {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      padding-left: 0.7vw;
    }

  }

  .alert-info-text {
    height: 2vh;
    color: #b1b0b0;
    font-size: 1vh !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .alert-card-title {
    height: 4vh;
    color: #dedede;
  }

  .camera-capture-card {
    background-color: #29334b;
    width: calc((100vw - 96vh)/3);
    height: calc(((100vw - 96vh)/3)*0.5625);;
    border-radius: 5px;
    margin: 2vh 1vh;
    padding: 1vh;

    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }

    .camera-capture-title {
      height: 15%;
      padding-top: 0.5vh;
      font-size: 1.5vh;
      color: #e5e5e5;
    }
  }
}

