/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/manage/stylesheets, or any plugin's
 * vendor/manage/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin
 *= require_self
 */


.sidebar {
  .sidebar-normal {
    font-size: 130%;
    padding-left: 45px;
  }
}

//去掉slick聚焦边框
.slick-slide:focus {
  outline: none;
}

//去除滚动条
.overflow-container::-webkit-scrollbar {
  display: none;
}

.sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.table-striped::-webkit-scrollbar {
  display: none;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}

.sidebar-mini::-webkit-scrollbar {
  display: none;
}

.trace-back-images-container::-webkit-scrollbar {
  display: none;
}

.select2-results__options::-webkit-scrollbar {
  display: none;
}

//right layout ico style
.fixed-plugin .fa-bell {
  color: #ffffff;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  width: auto;
}

.fixed-plugin .fa-cube {
  color: #ffffff;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  width: auto;
}

//顶部最新通知
.latest-notice-layout-top {
  position: absolute;
  top: 25%;
  left: 32%;
  font-size: 20px;
  width: 42%;
  text-align: center;
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

//输入框
.form-control {
  padding-left: 8px!important;
  line-height: 28px;
  font-size: 14px;
  color: #dfdfdf;
}




